.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #51839e;
}
.logo {
    border-radius: 50%;
    width: 150px;
}

